<ng-container *ngIf="controlContainer?.control" [formGroup]="$any(controlContainer.control)">
    <mat-radio-group [formControlName]="formControlName" aria-label="Select an option">
        <ng-container *ngFor="let collection of collections">
            <mat-radio-button [value]="collection['value']">{{collection.label}}</mat-radio-button>
        </ng-container>
        <mat-error [class.soft-hide]="!$any(controlContainer)?.submitted">{{errorMsg}}</mat-error>
    </mat-radio-group>
</ng-container>