<ng-container>
    <!-- <div>
        <app-header />
        <router-outlet/>
    </div> -->
    <div [ngSwitch]="loading">
        <div class="loading-wrapper" *ngSwitchCase='getLoading()'>
            <svg width="72" height="72" viewBox="0 0 150 150" preserveAspectRatio="xMidYMid">
                <rect x="0" y="0" width="150" height="150" fill="none"></rect>
                <circle cx="75" cy="75" r="60" stroke-dasharray="300 75" stroke="#003129" fill="none" stroke-width="9">
                    <animateTransform attributeName="transform" type="rotate" values="0 75 75;180 75 75;360 75 75;" keyTimes="0;0.5;1" dur="500ms" repeatCount="indefinite" begin="0s"></animateTransform>
                </circle>
            </svg>

        </div>
        <div *ngSwitchCase='!getLoading()'>
            <app-header />
            <router-outlet />
        </div>
    </div>
    <!-- <div *ngSwitchCase="loading == true">
        <mat-spinner class="spinner" diameter="60"></mat-spinner> 
    </div>
    <div class="spinner-wrapper" *ngSwitchDefault>
        <mat-spinner class="spinner" diameter="60"></mat-spinner> 
    </div> -->
</ng-container>