<!-- Main form group container -->
<ng-container #ngForm="ngForm" *ngIf="controlContainer?.control; else noFormGroup"
    [formGroup]="$any(controlContainer.control)">
    <mat-form-field [appearance]="appearance">
        <mat-label>
            {{ placeholder }}
        </mat-label>
        <input [inputMask]="applyMask()" (keypress)="blockText($event)"
            [type]="password ? 'password' : 'text'" [formControlName]="formControlName" [value]="value"
            (input)="onInput($event)" (focus)="onFocus()" (blur)="onBlur($event)" matInput [disabled]="disabled"
            [errorStateMatcher]="matcher"
            >
        <span *ngIf="suffixAply" matTextSuffix>
            {{suffixAply}}
        </span>
        <mat-error>{{ errorMsg }}</mat-error>
    </mat-form-field>
</ng-container>

<!-- Fallback template -->
<ng-template #noFormGroup>
<ng-container *ngIf='!loading; else wave'>
    <mat-form-field [appearance]="appearance">
        <mat-label>{{ placeholder }}</mat-label>
        <input [inputMask]="applyMask()" [value]="getValue()" matInput [disabled]="disabled">
    </mat-form-field>
</ng-container>
</ng-template>

<ng-template #load>
    <div class="spinner-container">
        <mat-spinner class="spinner" diameter="20"></mat-spinner>
    </div> 
</ng-template>

<ng-template #wave>
    <div class="wave-container">
        <div class="wave"></div>
    </div> 
</ng-template>